html, body {
    width: 100%;
    height: 100%;
}

body {
    font: 16px 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #f6f6f6;
}

.container {
    margin-left: 5px;
    margin-right: 5px;
    max-width: none;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.header {
    display: block;
    color: #000;
    background: #fff;
    text-transform: uppercase;
    text-align: center;
    min-height: 40px;
    top: 0;
    box-shadow: 0 3px #ccc;
    padding-top: 10px;
    margin-bottom: 5px;
}

.logo {
    width: 100px;
}

.sidebar {
    list-style-type: none;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
}
  
.sidebar li {
    padding:1em;
    color: #fff;
}

.sidebar li:hover {
    background-color: darken(#c0392b, 10);
}